<!doctype html>
<html>
  <head>
    <title>Birthday Wishes App | Reminds you to send well-wishes to friends and family on their birthdays.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <div id="content">
        <h1>Birthday Wishes App</h1>
        <p>Reminds you to send well-wishes to friends and family on their birthdays.</p>

        <ul>
          <li><a href="/hello">Hello</a></li>
          <li><a href="/birthdays/new">New Birthday Form</a></li>
        </ul>
      </div>

      <div id="footer">
        <hr>
        &copy; Copyright 2019 MJ Rossetti |
        <a href="https://github.com/s2t2/birthday-wishes-py">source</a>
      </div>
    </div>
  </body>
</html>
